.bg-dark-green-gradient {
    background: #020024;
    background: linear-gradient(145deg, rgba(2, 0, 36, 1) 0%, rgba(5, 55, 29, 1) 87%, rgba(17, 59, 28, 1) 93%, rgba(10, 41, 18, 1) 99%);
}

.card-details .car-details {
    display: grid;
    gap: 20px;
    grid-template-columns: .40fr 1fr;
}
